
<nav class = "navigation">
    <h1 class = "main-name clearfix">Bloc Chat</h1>
    <div class = "new-room-button clearfix" ng-controller ="modalCtrl as modal" ng-click = "modal.button.open()">
        New Room
    </div>
    <ul class = "room-list">
        <li class="chat-room"  ng-repeat="room in home.Room.all" ng-mouseover="hovered=true" ng-mouseleave = "hovered=false" ng-click="home.Room.setRoom(room)">{{room.name}}<span class="remove" ng-click="home.Room.removeRoom(room)" ng-show="hovered">x</span></li>
    </ul>
</nav>

<main class="home">
    <h1>{{home.Room.currentRoom.name}}</h1>
    <ol class="message-list">
        <li class="message"></li>
    </ol>
    <form class = "message-form" ng-submit = "home.message.send()">
        <input class="message-input" type="text" autofocus ng-model = "home.message.content"/>
        <button class="message-send" type="button" ng-click = "home.message.send()">SEND</button>
     </form>
</main>